<div {{did-insert (perform this.network.loadArticles this.args)}} {{did-update (perform this.network.loadArticles this.args) @feed @page @tag}}>
  {{#if (and (not this.articles.length) this.network.loadArticles.isRunning)}}
    Loading...
  {{else}}
    {{#each this.articles as |article|}}
      <ArticlePreview @article={{article}} />
    {{else}}
      <div class="article-preview">No articles are here... yet.</div>
    {{/each}}
    {{#if this.articles}}
      <Pagination @total={{this.articles.meta.articlesCount}} @perPage={{10}} @current={{@page}}
        @existingParams={{hash author=@feed tag=@tag}} />
    {{/if}}
  {{/if}}
</div>