<form {{on "submit" this.submit}}>
  {{#if @errors}}
    <ul class="error-messages">
      {{#each @errors key="@index" as | error |}}
        <li data-test-settings-form-error-item>{{error.attribute}} {{error.message}}</li>
      {{/each}}
    </ul>
  {{/if}}
  <fieldset>
    <fieldset class="form-group">
      <Input class="form-control" @type="text" placeholder="URL of profile picture" data-test-settings-form-input-image
        @value={{this.image}} @input={{fn this.change "image"}} />
    </fieldset>
    <fieldset class="form-group">
      <Input class="form-control form-control-lg" @type="text" placeholder="Your Name"
        data-test-settings-form-input-username @value={{this.username}} @input={{fn this.change "username"}} />
    </fieldset>
    {{! template-lint-disable block-indentation }}
    <fieldset class="form-group">
      <Textarea class="form-control form-control-lg" @rows="8" placeholder="Short bio about you"
        data-test-settings-form-input-bio @value={{this.bio}} @input={{fn this.change "bio"}} />
      </fieldset>
    <fieldset class="form-group">
      <Input
        @type="text"
        class="form-control form-control-lg"
        placeholder="Email"
        data-test-settings-form-input-email
        @value={{this.email}}
        @input={{fn this.change "email"}}
      />
    </fieldset>
    <fieldset class="form-group">
      <Input
        class="form-control form-control-lg"
        @type="password"
        placeholder="Password"
        data-test-settings-form-input-password
        @value={{this.password}}
        @input={{fn this.change "password"}}
      />
    </fieldset>
    <button type="submit" class="btn btn-lg btn-primary pull-xs-right" data-test-settings-form-submit-button
      disabled={{@disableSubmit}}>
      Update Settings
    </button>
  </fieldset>
</form>