<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <ArticleForm @isNew={{@model.isNew}} @errors={{@model.errors}} @title={{readonly this.draftArticle.title}}
          @description={{readonly this.draftArticle.description}} @body={{readonly this.draftArticle.body}}
          @tags={{readonly this.draftArticle.tags}}
          @disableSubmit={{and (not this.isValid) (not this.draftArticle.hasDirtyAttributes)}}
          @onSubmit={{action "saveArticle" this.draftArticle}} @onChange={{action "changeAttr" this.draftArticle}} />
      </div>
    </div>
  </div>
</div>