<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            {{#if this.session.isLoggedIn}}
              <li class="nav-item">
                <LinkTo @route="home" @query={{hash feed="your" page=1 tag=null}} class={{concat "nav-link " (unless this.feed this.disabled)}} data-test-feed="your">
                  Your Feed
                </LinkTo>
              </li>
            {{/if}}
            <li class="nav-item">
              <LinkTo @route="home" @query={{hash feed=null page=1 tag=null}} class="nav-link" data-test-feed="global">
                Global Feed
              </LinkTo>
            </li>
            {{#if this.tag}}
              <li class="nav-item">
                <LinkTo @route="home" @query={{hash feed=null page=1 tag=this.tag}} class="nav-link" data-test-feed={{this.tag}}>
                  {{this.tag}}
                </LinkTo>
              </li>
            {{/if}}
          </ul>
        </div>
        Loading...
      </div>
    </div>
  </div>
</div>