<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>
        <SettingsForm @errors={{this.user.errors}} @image={{readonly this.user.image}}
          @username={{readonly this.user.username}} @bio={{readonly this.user.bio}} @email={{readonly this.user.email}}
          @password={{readonly this.user.password}} @onSubmit={{action "saveSettings" this.user}}
          @onChange={{action "changeAttr" this.user}} @disableSubmit={{not this.user.hasDirtyAttributes}} />
        <hr>
        <button {{action "signOut"}} type="button" class="btn btn-outline-danger" data-test-settings-logout-button>
          Or click here to logout.
        </button>
      </div>
    </div>
  </div>
</div>